/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Home
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
	header.sticky 				{ position: absolute; top: 0; left: 0; width: 100%; z-index: 1099; }
	/*#header 					{ background: #fcfdfe; }*/

	.title 						{ text-align: center; }
	.title a 					{ display: inline-block; }
	.title a img 				{ margin: 0 auto; display: block; }

	.nav.site 					{ padding-top: 1em; padding-right: 0; }
	.nav.site ul 				{ list-style-type: none; position: relative; float: right; }
	.nav.sitemap ul 			{ margin: 0 auto; width: 31em; list-style-type: none; position: relative; float: none; display: block; }
	.nav.site ul li,
	.nav.sitemap ul li 			{ float: left; }
	.nav.site a,
	.nav.sitemap a				{ margin: 0 12px; color: #70848c; font-variant: small-caps; font-size: 1.25em; letter-spacing: 1px; }
	.nav.site a:hover			{ color: #1e2426; border-bottom: 2px solid #1e2426; }
	.nav.site a.active			{ margin: 0 12px; color: #1e2426; border-bottom: 2px solid #1e2426; }
	.nav.sitemap a:hover		{ color: #e4e7e9; border-bottom: 2px solid #e4e7e9; }
	.nav.sitemap a.active		{ margin: 0 12px; color: #e4e7e9; border-bottom: 2px solid #e4e7e9; }
	.nav.social 				{ margin: 0 auto; display: block; float: none; }
	
	.sidebar 					{ background: #e4e7e9; }

	.button 					{ padding: 4px 12px 8px; height: 40px; font-variant: small-caps; letter-spacing: 1px; display: inline-block; border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; -webkit-transition: all .15s ease-in-out; -moz-transition: all .15s ease-in-out; -ms-transition: all .15s ease-in-out; -o-transition: all .15s ease-in-out; transition: all .15s ease-in-out; }
	.button:hover 				{ -webkit-transition: all .15s ease-in-out; -moz-transition: all .15s ease-in-out; -ms-transition: all .15s ease-in-out; -o-transition: all .15s ease-in-out; transition: all .15s ease-in-out; }
	.button.lg 					{ padding: 16px 24px 0; height: 63px !important; font-size: 1.25em; -webkit-border-radius: 31.5px; -moz-border-radius: 31.5px; -ms-border-radius: 31.5px; -o-border-radius: 31.5px; border-radius: 31.5px; }
	.button.xl 					{ padding: 18px 48px 0px; height: 72px; font-size: 1.5em; display: inline-block; -webkit-border-radius: 36px; -moz-border-radius: 36px; -ms-border-radius: 36px; -o-border-radius: 36px; border-radius: 36px; }
	.button.circle 				{ padding: 14px 17px 0; width: 48px; height: 48px; text-align: center; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%; border-radius: 100%; }
	.button.centered 			{ margin: 0 auto; padding: 18px 0 0px; width: 45%; height: 72px; display: block; float: none; text-align: center !important; font-size: 1.5em; -webkit-border-radius: 36px; -moz-border-radius: 36px; -ms-border-radius: 36px; -o-border-radius: 36px; border-radius: 36px; }
	.button.outline 			{ color: #1e2426; color: #1e2426 !important; background: transparent; border: 2px solid #1e2426; }
	.button.outline:hover 		{ background: #1e2426; color: #e4e7e9 !important; border: 2px solid #1e2426; }
	.button.outline.light 		{ background: transparent; color: #e4e7e9 !important; border: 2px solid #e4e7e9; }
	.button.outline.light:hover { background: #e4e7e9; color: #1e2426; border: 2px solid #e4e7e9; }
	.button.outline.blue 		{ background: transparent; color: #4eaaff !important; border: 2px solid #4eaaff; }
	.button.outline.blue:hover 	{ background: #4eaaff; color: #f2f2f2 !important; border: 2px solid #4eaaff; }
	.button.blue 				{ background: #4eaaff; color: #f2f2f2; }
	.button.blue:hover 			{ background: #3fc0d5; }
	.button.apple 				{ padding: 0; border: none; }
	.button.apple:hover 		{ border: none; }
	.button.apple svg 			{ margin: 0 auto; float: none; display: block; }

	.text.bright 				{ color: #e4e7e9; }
	.text.light 				{ color: #c7cfd1; }
	.text.mid 					{ color: #b0babf; }
	.text.dim 	 				{ color: #47555b; }
	.text.dark  				{ color: #364045; }
	.text.darker 				{ color: #1f232b; }
	.text.blue30 				{ color: #009796; }
	.text.dark80 				{ color: #024041; }
	.text.center 				{ text-align: center; }
	.text.thin 					{ font-weight: 300; }
	.text.medium 				{ font-weight: 500; }
	.text.thick 				{ font-weight: 700; }
	.text.huge 					{ font-size: 4em; }
	.image.center 				{ margin: 0 auto; display: block; float: none; }	

	.g.yg,.g.bg,.g.yr,.g.bp 	{ position: relative; }
	.g.yg:before,.g.yg:after 	{ 
									content: "";
									position: absolute;
									border-radius: 50%;
								 }
	.g.yg:before 				{ 	
									top: -2px;
									left: -2px;
									bottom: -2px;
									right: -2px;
									background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffc81e), to(#09e65a));
									background-image: -webkit-linear-gradient(#ffc81e, #09e65a);
									background-image: -moz-linear-gradient(#ffc81e, #09e65a);
									background-image: -o-linear-gradient(#ffc81e, #09e65a);
									z-index: -2;
								 }
	.g.yg:after 				{ 	
									z-index: -1;
									top: 0;
									left: 0;
									bottom: 0;
									right: 0;
									background: #fafafa;
								 }
	.g.bg:before,.g.bg:after 	{ 
									content: "";
									position: absolute;
									border-radius: 50%;
								 }
	.g.bg:before 				{ 	
									top: -2px;
									left: -2px;
									bottom: -2px;
									right: -2px;
									background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#49aaff), to(#09e65a));
									background-image: -webkit-linear-gradient(#49aaff, #09e65a);
									background-image: -moz-linear-gradient(#49aaff, #09e65a);
									background-image: -o-linear-gradient(#49aaff, #09e65a);
									z-index: -2;
								 }
	.g.bg:after 				{ 	
									z-index: -1;
									top: 0;
									left: 0;
									bottom: 0;
									right: 0;
									background: #fafafa;
								 }
	.g.yr:before,.g.yr:after 	{ 
									content: "";
									position: absolute;
									border-radius: 50%;
								 }
	.g.yr:before 				{ 	
									top: -2px;
									left: -2px;
									bottom: -2px;
									right: -2px;
									background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffc81e), to(#fc782e));
									background-image: -webkit-linear-gradient(#ffc81e, #fc782e);
									background-image: -moz-linear-gradient(#ffc81e, #fc782e);
									background-image: -o-linear-gradient(#ffc81e, #fc782e);
									z-index: -2;
								 }
	.g.yr:after 				{ 	
									z-index: -1;
									top: 0;
									left: 0;
									bottom: 0;
									right: 0;
									background: #fafafa;
								 }
	.g.bp:before,.g.bp:after 	{ 
									content: "";
									position: absolute;
									border-radius: 50%;
								 }
	.g.bp:before 				{ 	
									top: -2px;
									left: -2px;
									bottom: -2px;
									right: -2px;
									background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#49aaff), to(#e834e9));
									background-image: -webkit-linear-gradient(#49aaff, #e834e9);
									background-image: -moz-linear-gradient(#49aaff, #e834e9);
									background-image: -o-linear-gradient(#49aaff, #e834e9);
									z-index: -2;
								 }
	.g.bp:after 				{ 	
									z-index: -1;
									top: 0;
									left: 0;
									bottom: 0;
									right: 0;
									background: #fafafa;
								 }

	.circ.lg 					{
									height: 28em;
									width: 28em;
									border-radius: 50%;
									padding: 0;
									position: absolute;
									top: 9em;
									z-index: -3;
								}
	.circ.btm 					{
									height: 23em;
									width: 23em;
									border-radius: 50%;
									padding: 0;
									position: absolute;
								}
	.rt 						{ right: 5%; }
	.lft 						{ left: 5%; }

	/* Mobile Styles */
	.nocolor 					{ background: transparent; transition: .15s all ease-in-out; -webkit-transition: .15s all ease-in-out; -moz-transition: .15s all ease-in-out; -ms-transition: .15s all ease-in-out; -o-transition: .15s all ease-in-out; }
	.color-light 				{ background: #e4e7e9; transition: .15s all ease-in-out; -webkit-transition: .15s all ease-in-out; -moz-transition: .15s all ease-in-out; -ms-transition: .15s all ease-in-out; -o-transition: .15s all ease-in-out; }
	.color-light h3 			{ color: #1e2426 !important; transition: .15s all ease-in-out; -webkit-transition: .15s all ease-in-out; -moz-transition: .15s all ease-in-out; -ms-transition: .15s all ease-in-out; -o-transition: .15s all ease-in-out; }
	.color-blue 				{ background: #4eaaff; transition: .15s all ease-in-out; -webkit-transition: .15s all ease-in-out; -moz-transition: .15s all ease-in-out; -ms-transition: .15s all ease-in-out; -o-transition: .15s all ease-in-out; }
	.color-green 				{ background: #33cc02; transition: .15s all ease-in-out; -webkit-transition: .15s all ease-in-out; -moz-transition: .15s all ease-in-out; -ms-transition: .15s all ease-in-out; -o-transition: .15s all ease-in-out; }
	.color-yellow 				{ background: #ffd500; transition: .15s all ease-in-out; -webkit-transition: .15s all ease-in-out; -moz-transition: .15s all ease-in-out; -ms-transition: .15s all ease-in-out; -o-transition: .15s all ease-in-out; }
	.color-yellow h3 			{ color: #1e2426 !important; transition: .15s all ease-in-out; -webkit-transition: .15s all ease-in-out; -moz-transition: .15s all ease-in-out; -ms-transition: .15s all ease-in-out; -o-transition: .15s all ease-in-out; }
	.color-orange 				{ background: #fd5f31; transition: .15s all ease-in-out; -webkit-transition: .15s all ease-in-out; -moz-transition: .15s all ease-in-out; -ms-transition: .15s all ease-in-out; -o-transition: .15s all ease-in-out; }
	.color-dark 				{ background: #080a0a; }

	.visible 					{ opacity: 1; transition: .15s all ease-in-out; -webkit-transition: .15s all ease-in-out; -moz-transition: .15s all ease-in-out; -ms-transition: .15s all ease-in-out; -o-transition: .15s all ease-in-out; }
	.invisible 					{ opacity: 0; transition: .15s all ease-in-out; -webkit-transition: .15s all ease-in-out; -moz-transition: .15s all ease-in-out; -ms-transition: .15s all ease-in-out; -o-transition: .15s all ease-in-out; }
	.css3-blur 					{ -webkit-filter: blur(3px) !important; filter: blur(3px) !important; opacity: 1; /* restore the opacity for that browser */ }

	a.mt-share-inline-bar-sm img { width: 34px; height: auto; border: 0px; }
	a.mt-share-inline-bar-sm:hover { z-index: 50; -webkit-transform: scale3d(1.075, 1.075, 1.075); }
	a.mt-share-inline-bar-sm { display: inline-block; width: 64px; height: 32px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; margin-right: 0px; text-align: center; position: relative; transition: all 100ms ease-in; -webkit-transition: all 100ms ease-in; -webkit-transform: scale3d(1, 1, 1); }
	.mt-twitter:hover { background-color: rgb(8, 187, 255); }
	.mt-twitter { margin-left: -3px;background-color: #1e2426; }
	.mt-facebook:hover { background-color: rgb(66, 100, 170); }
	.mt-facebook { margin-left: 10px; background-color: #1e2426; }

/* -----------------------------------------
   Home
----------------------------------------- */

	.masthead 					{ text-align: center; }
	.lume.copy 					{ 
									margin: 0 auto;
									padding-top: 10em;
									height: 23em;
									width: 23em;
									display: block;
									border-radius: 50%;
									text-align: center;
								}
	.lume.preview img,
	.lume.screen img 			{ margin: 0 auto; display: block; }

	#usp1 .lume.screen img,
	#usp3 .lume.screen img 		{ margin-left: 11em; }
	#usp2 .lume.screen img,
	#usp4 .lume.screen img 		{ margin-right: 10em; }
	#usp1						{ padding-top: 11em; }
	#usp2,#usp3,#usp4 			{ padding-top: 36em; }
	#usp4 						{ padding-bottom: 12em; }
	#usp5 						{ text-align: center; }

	#wrapper 					{ display: block; position: relative; height: 29em; }

	.island.f .g.bg:before,
	.island.f .g.bp:before,
	.island.f .g.yr:before 		{ z-index: 0; }

	.island.f .g.bg:after,
	.island.f .g.bp:after,
	.island.f .g.yr:after 		{ background: #080a0a; z-index: 1; }

	.island.f .circ:first-child { left: 10%; z-index: 0; }
	.island.f .circ:nth-child(2){ left: 36%; z-index: 2; }
	.island.f .circ:last-child	{ right: 10%; z-index: 1; } 
	.island.f .lume.copy 		{ 
									margin-left: -8em;
									padding-top: 4em;
									height: 16em;
									width: 16em;
									left: 50%;
									position: absolute;
									z-index: 2;
									transition: all 0.15s ease-in-out;
									-webkit-transition: all 0.15s ease-in-out;
									-moz-transition: all 0.15s ease-in-out;
									-ms-transition: all 0.15s ease-in-out;
									-o-transition: all 0.15s ease-in-out;
								}
	.island.f .lume.copy img 	{ padding-bottom: 2em; }
	.island.f .circ h5,
	.island.f .circ p 			{ color: #47555b; transition: all 0.15s ease-in-out; -webkit-transition: all 0.15s ease-in-out; -moz-transition: all 0.15s ease-in-out; -ms-transition: all 0.15s ease-in-out; -o-transition: all 0.15s ease-in-out; }
	.island.f .circ 			{ transition: all 0.15s ease-in-out; -webkit-transition: all 0.15s ease-in-out; -moz-transition: all 0.15s ease-in-out; -ms-transition: all 0.15s ease-in-out; -o-transition: all 0.15s ease-in-out; }
	.island.f .circ:hover 		{ color: #70848c; }


/* -----------------------------------------
   Interior Pages
----------------------------------------- */
		

/* -----------------------------------------
   Support
----------------------------------------- */

	#p-interior.support .header	{ background: #e2eaed; }
	#p-interior.support .island.a{ background: #fcfdfe; }
	#p-interior.support .island.a:nth-child(2) 		{ padding: 54px 0 90px; }


/* -----------------------------------------
   Media Queries
----------------------------------------- */

@media only screen and (max-width: 640px) and (max-height: 1136px) {

    header 						{ padding-bottom: 18px; padding-left: 20px; }
    header .logo 				{ margin-top: 18px; display: inline-block; position: relative; }
    #menuOpen,
    #menuClose 					{ padding-top: 9px; position: absolute; top: 1%; right: 5%; }
    .logo-light 	 			{ fill: #e4e7e9; }
    .nav.sitemap 				{ margin: 72px auto 36px; display: block; float: none !important; }
    .nav.sitemap a:first-child  { padding-left: 30px; }

    #mobileNav 	 				{ display: none; padding: 64px 0 0; width: 100%; min-width: 100%; height: 100%; min-height: 100%; position: absolute; top: 0; left: 0; right: 0; }
}


/* -----------------------------------------
   Animations
----------------------------------------- */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  10% {
    -webkit-transform: scale(.9);
    transform: scale(.9);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 4;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 4;
    color: #70848c;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  10% {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
  }

  50% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 4;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    z-index: 4;
    color: #70848c;
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

	@-keyframes growGlow {
		from {
			opacity: .8;
		}
		to {
			opacity: 1;
			transform: scaleX(25%);
			-webkit-transform: scaleX(25%);
			-moz-transform: scaleX(25%);
		}
	}
	@-webkit-keyframes growGlow {
		from {
			opacity: .8;
		}
		to {
			opacity: 1;
			transform: scaleX(25%);
			-webkit-transform: scaleX(25%);
			-moz-transform: scaleX(25%);
		}
	}

	.growGlow 					{ animation-name: growGlow; -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

