/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Home
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
	header.sticky 				{ position: absolute; top: 0; left: 0; width: 100%; z-index: 1099; }
	/*#header 					{ background: #fcfdfe; }*/

	/*.title a 					{ display: inline-block; }*/
	.title a img 				{ margin-top: -0.7em; }
	.title a p 					{ padding-left: .5em; display: inline-block; }

	.nav.site 					{ padding-top: 2.5em; padding-right: 0; }
	.nav.site a					{ margin: 0 12px; color: #e2eaed; display: inline-block; text-decoration: none; }
	.nav.site a:first-child 	{ margin-left: 0; }
	.nav.site a:hover			{ color: #f2f5f7; border-bottom: 2px solid #f2f5f7; text-decoration: none; }
	.nav.site a.active			{ margin: 0 12px; color: #f2f5f7; border-bottom: 2px solid #f2f5f7; }

	.nav.sitemap a				{ margin: 0 12px; color: #323c40; display: inline-block; text-decoration: none; }
	.nav.sitemap a:hover		{ color: #70848c; border-bottom: 2px solid #70848c; }
	.nav.sitemap a.active		{ margin: 0 12px; color: #70848c; border-bottom: 2px solid #70848c; }
	.nav.social 				{ margin: 0 auto; width: 130px; display: block; float: none; list-style-type: none; }

	.island 					{  }

	.sidebar 					{ background: #e4e7e9; }

	.button 					{ padding: 4px 12px 8px; display: inline-block; border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; -webkit-transition: all .15s ease-in-out; -moz-transition: all .15s ease-in-out; -ms-transition: all .15s ease-in-out; -o-transition: all .15s ease-in-out; transition: all .15s ease-in-out; }
	.button:hover 				{ -webkit-transition: all .15s ease-in-out; -moz-transition: all .15s ease-in-out; -ms-transition: all .15s ease-in-out; -o-transition: all .15s ease-in-out; transition: all .15s ease-in-out; }
	.button.med 				{ padding: 8px 12px 8px; }
	.button.lg 					{ padding: 18px 40px 18px; -webkit-border-radius: 31.5px; -moz-border-radius: 31.5px; -ms-border-radius: 31.5px; -o-border-radius: 31.5px; border-radius: 31.5px; }
	.button.xl 					{ padding: 24px 48px 0px; height: 72px; font-size: 1em; display: inline-block; -webkit-border-radius: 36px; -moz-border-radius: 36px; -ms-border-radius: 36px; -o-border-radius: 36px; border-radius: 36px; }
	.button.circle 				{ padding: 14px 17px 0; width: 48px; height: 48px; text-align: center; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%; border-radius: 100%; }
	.button.centered 			{ margin: 0 auto; padding: 18px 0 0px; width: 45%; height: 72px; display: block; float: none; text-align: center !important; font-size: 1.5em; -webkit-border-radius: 36px; -moz-border-radius: 36px; -ms-border-radius: 36px; -o-border-radius: 36px; border-radius: 36px; }
	.button.outline 			{ color: #47555b !important; background: transparent; border: 2px solid #47555b; }
	.button.outline:hover 		{ background: #1e2426; color: #e4e7e9 !important; border: 2px solid #1e2426; }
	.button.outline.light 		{ background: transparent; color: #e4e7e9; border: 2px solid #e4e7e9; }
	.button.outline.light:hover { background: #e4e7e9; color: #47555b; border: 2px solid #e4e7e9; }
	.button.outline.blue 		{ background: transparent; color: #4eaaff !important; border: 2px solid #4eaaff; }
	.button.outline.blue:hover 	{ background: #4eaaff; color: #f2f2f2 !important; border: 2px solid #4eaaff; }
	.button.light 				{ background: #fafafa; color: #4eaaff; border: 2px solid #fafafa; }
	.button.light:hover 		{ background: transparent; color: #fafafa; border: 2px solid #fafafa; }
	.button.blue 				{ background: #4eaaff; color: #f2f2f2; }
	.button.blue:hover 			{ background: #3fc0d5; }
	.button.apple 				{ padding: 0; border: none; }
	.button.apple:hover 		{ border: none; }
	.button.apple svg 			{ margin: 0 auto; float: none; display: block; }

	.text.white 				{ color: #f2f5f7; }
	.text.bright 				{ color: #e4e7e9; }
	.text.light 				{ color: #b0babf; }
	.text.mid 					{ color: #70848c; }
	.text.dim 	 				{ color: #47555b; }
	.text.dark  				{ color: #323c40; }
	.text.darker 				{ color: #1e2426; }
	.text.center 				{ text-align: center; }
	.text.hair 					{ font-weight: 100; }
	.text.thin 					{ font-weight: 300; }
	.text.medium 				{ font-weight: 500; }
	.text.thick 				{ font-weight: 700; }
	.text.huge 					{ font-size: 4em; }
	.image.center 				{ margin: 0 auto; display: block; float: none; }	

	.nocolor 					{ background: transparent; transition: .15s all ease-in-out; -webkit-transition: .15s all ease-in-out; -moz-transition: .15s all ease-in-out; -ms-transition: .15s all ease-in-out; -o-transition: .15s all ease-in-out; }
	.color-light 				{ background: #e4e7e9; transition: .15s all ease-in-out; -webkit-transition: .15s all ease-in-out; -moz-transition: .15s all ease-in-out; -ms-transition: .15s all ease-in-out; -o-transition: .15s all ease-in-out; }
	.color-light h3 			{ color: #1e2426 !important; transition: .15s all ease-in-out; -webkit-transition: .15s all ease-in-out; -moz-transition: .15s all ease-in-out; -ms-transition: .15s all ease-in-out; -o-transition: .15s all ease-in-out; }
	.color-blue 				{ background: #4eaaff; transition: .15s all ease-in-out; -webkit-transition: .15s all ease-in-out; -moz-transition: .15s all ease-in-out; -ms-transition: .15s all ease-in-out; -o-transition: .15s all ease-in-out; }
	.color-green 				{ background: #33cc02; transition: .15s all ease-in-out; -webkit-transition: .15s all ease-in-out; -moz-transition: .15s all ease-in-out; -ms-transition: .15s all ease-in-out; -o-transition: .15s all ease-in-out; }
	.color-yellow 				{ background: #ffd500; transition: .15s all ease-in-out; -webkit-transition: .15s all ease-in-out; -moz-transition: .15s all ease-in-out; -ms-transition: .15s all ease-in-out; -o-transition: .15s all ease-in-out; }
	.color-yellow h3 			{ color: #1e2426 !important; transition: .15s all ease-in-out; -webkit-transition: .15s all ease-in-out; -moz-transition: .15s all ease-in-out; -ms-transition: .15s all ease-in-out; -o-transition: .15s all ease-in-out; }
	.color-orange 				{ background: #fd5f31; transition: .15s all ease-in-out; -webkit-transition: .15s all ease-in-out; -moz-transition: .15s all ease-in-out; -ms-transition: .15s all ease-in-out; -o-transition: .15s all ease-in-out; }
	.color-dark 				{ background: #101414; }
	.color-darker 				{ background: #030404; }
	.color-darkest 				{ background: #010305; }

	.visible 					{ opacity: 1; transition: .15s all ease-in-out; -webkit-transition: .15s all ease-in-out; -moz-transition: .15s all ease-in-out; -ms-transition: .15s all ease-in-out; -o-transition: .15s all ease-in-out; }
	.invisible 					{ opacity: 0; transition: .15s all ease-in-out; -webkit-transition: .15s all ease-in-out; -moz-transition: .15s all ease-in-out; -ms-transition: .15s all ease-in-out; -o-transition: .15s all ease-in-out; }
	.spacer 					{ opacity: 0; visibility: none; height: 0; font-size: 0; }
	.css3-blur 					{ -webkit-filter: blur(3px) !important; filter: blur(3px) !important; opacity: 1; /* restore the opacity for that browser */ }

	a.mt-share-inline-bar-sm img { width: 34px; height: auto; border: 0px; }
	a.mt-share-inline-bar-sm:hover { z-index: 50; -webkit-transform: scale3d(1.075, 1.075, 1.075); }
	a.mt-share-inline-bar-sm { display: inline-block; width: 64px; height: 32px; margin-right: 0px; text-align: center; position: relative; transition: all 100ms ease-in; -webkit-transition: all 100ms ease-in; -webkit-transform: scale3d(1, 1, 1); }
	.mt-twitter:hover { background-color: rgb(8, 187, 255); }
	.mt-twitter { margin-left: -3px; background-color: #1e2426; border-top-right-radius: 16px; border-bottom-right-radius: 16px; }
	.mt-facebook:hover { background-color: rgb(66, 100, 170); }
	.mt-facebook { padding-left: .33em; background-color: #1e2426; border-top-left-radius: 16px; border-bottom-left-radius: 16px; }

/* -----------------------------------------
   Home
----------------------------------------- */

	.island.alpha 						{ background: url('../img/bg-masthead.jpg') center center no-repeat, #75b9e0; background-size: 100%; height: 100%; }
	.masthead 							{ padding-top: 12em; padding-bottom: 12em; text-align: center; }
	#usp1, #usp2 		 				{ border-bottom: 1px solid #cdd5d9; }
	#usp4, #usp5 						{ text-align: center; }

	.island.b h2 						{ color: #49aaff; }
	.island.c h2 						{ color: #f7b926; }
	.island.d h2 						{ color: #fd5f31; }
	.island.f 							{ background: url('../img/photo-hand-track.jpg') left center no-repeat, #030404; height: 38.06em; }
	.island .screens img 				{ margin: 0 auto; float: none; display: block; }


/* -----------------------------------------
   Career Pages
----------------------------------------- */
	
	#listing 		 			{ border-bottom: 1px solid #e2eaed; }
	.job 						{ border-bottom: 1px solid #e2eaed; }
	.job:last-child 			{ border-bottom: none; }	

/* -----------------------------------------
   Press
----------------------------------------- */
	#p-press .island			{ padding-top: 3em; padding-bottom: 3em; }
	#p-press .island h4 		{ padding-bottom: .5em; border-bottom: 1px solid #e2eaed; }
	#p-press .island.alpha 		{ background: url('../img/bg-masthead.png') center -9em no-repeat; }
	#p-press .island.alpha h4 	{ border-bottom: none; }

/* -----------------------------------------
   Support
----------------------------------------- */
	
	#p-interior .island.a 		{ background: #e2eaed; }
	#p-interior #header 		{ border-bottom: 1px solid #E2EAED; }
	#p-interior .nav.site a 	{ color: #70848c; }
	#p-interior .nav.site a:hover{ color: #1e2426; border-bottom: 2px solid #1e2426; }
	#p-interior.support .header	{ background: #e2eaed; }


/* -----------------------------------------
   Media Queries
----------------------------------------- */

@media only screen and (max-width: 640px) and (max-height: 1136px) {

    header 						{ padding-bottom: 18px; padding-left: 20px; }
    header .logo 				{ margin-top: 18px; display: inline-block; position: relative; }
    #menuOpen,
    #menuClose 					{ padding-top: 9px; position: absolute; top: 1%; right: 5%; }
    .logo-light 	 			{ fill: #e4e7e9; }
    .nav.sitemap 				{ margin: 72px auto 36px; display: block; float: none !important; }
    .nav.sitemap a:first-child  { padding-left: 30px; }

    #mobileNav 	 				{ display: none; padding: 64px 0 0; width: 100%; min-width: 100%; height: 100%; min-height: 100%; position: absolute; top: 0; left: 0; right: 0; }
}


/* -----------------------------------------
   Animations
----------------------------------------- */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
